* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-------------uso de div para darle estilo css------------*/
/* fondo de pagina y posicion de imagen, letra y color */
body {
    text-align: center;
    position: relative;
    font-family: monospace;
    color: #f3f3f3;
    background-image: url(../img/fondo.jpg);
    background-size: auto;
}

@font-face {
    font-family: pretendo;
    src: url(../Fuente-letras/Pretendo.ttf)
}

@font-face {
    font-family: mario;
    src: url(../Fuente-letras/Mario.ttf);
}

/* titulo de mi contenedor en primera pantalla*/
.tittle {
    font-family: mario;
}

/*texto que contiene 'nintendo'*/
.tittle2 {
    font-family: pretendo;
    font-size: 10px;
    border-radius: 15px;
    border-style: solid;

}

/* propiedades de la imagen de visa, que va al extremo izq de mi pagina*/
.mini-contenedor img {
    position: fixed;
    left: 10px;
    margin-top: 20px;
    max-width: 150px;
    max-height: 50px;

}

/*propiedades del contenedor de mi formulario*/
.contenedor1 {
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 30px 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: #f3f3f3;
    position: fixed;
    top: 60px;
    bottom: 60px;
    left: 100px;
    right: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: rgb(255, 0, 0);
    align-items: center;

}

/*logos que van dentro de mi primer contenedor*/
.logo-champi img {
    float: left;
    max-height: 50px;
    max-width: 50px;
}

.logo-champi2 img {
    float: right;
    max-width: 50px;
    max-height: 50px;
}


/* ----------------SEGUNDA PANTALLA-------------------- */


/* propiedades de la imagen de visa, a la izq de mi segunda pantalla */
.mini-contenedor2 img {
    position: fixed;
    left: 10px;
    margin-top: 20px;
    max-width: 150px;
    max-height: 50px;
}


.contenedor2 {
    width: 100%;
    max-width: 500px;
    padding: 30px 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: #f3f3f3;
    position: fixed;
    top: 60px;
    bottom: 60px;
    left: 100px;
    right: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: rgb(255, 0, 0);
    align-items: center;
}

/* propiedades de la estrella dentro del contenedor*/
.imagen-estrella img {

    max-width: 100px;
    max-height: 100px;
}

/* propiedades del nombre del usuario (dato guardado de mi formulario)*/


.texto {
    font-family: monospace;
    font-size: 17px;
}

.tips {
    color: black;
    font-family: monospace;
    font-size: 14px;
    border-radius: 5px;
    border-style: solid;
}

.gif-mario {
    position: fixed;
    bottom: 20%;
    right: 25px;
    margin-top: 20px;
    max-width: 150px;
    max-height: 50px;
}